{% extends "task/base.html" %}
{% block title%}
		Allocate Task
{% endblock %}
{% block pageHeader %}
	<h1>
		Allocate Task
	</h1>
{% endblock %}
{% block content %}


{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}


<form action="" method="post">
    {% csrf_token %}

 <div class=" col-xs-2">
        <label class="col-sm-3" for="id_code">Code:</label>
    </div>
    <div class="col-xs-10" style="margin-bottom:5px">
        <select class="form-control" style="width:350px" name="code" required="" id="id_code" {% if is_engineer %} readonly="true"  {% endif%}>
            {% if is_engineer %}
            {% for x,y in form.fields.code.choices %}
            {% if form.code.value == x %}
            <option value="{{x}}" selected="" >{{y}}</option>
            {% endif %}
            {% endfor %}
            {% else%}
            {% for x,y in form.fields.code.choices %}
            <option value="{{x}}" {% if form.code.value == x %}selected="" {% endif %}>{{y}}</option>
            {% endfor %}
            {% endif %}

        </select>
    </div>

 <div class=" col-xs-2" hidden>
        <label class="col-sm-3" for="id_assignedBy">AssignedBy:</label>
    </div>
    <div class="col-xs-10" style="margin-bottom:5px" hidden>
        <select class="form-control" style="width:350px" name="assignedBy" id="id_assignedBy">
            {% for x,y in form.fields.assignedBy.choices %}
            <option value="{{x}}" {% if x == form.assignedBy.value %} selected="" {% endif %} >{{y}}</option>
            {% endfor %}
        </select>
    </div>

 <div class=" col-xs-2">
        <label class="col-sm-3" for="id_assignedTo">AssignedTo:</label>
    </div>
    <div class="col-xs-10" style="margin-bottom:5px">
        <select class="form-control" style="width:350px" name="assignedTo" required="" id="id_assignedTo" {% if is_engineer %} readonly="true"  {% endif%}>
            {% if is_engineer %}
            {% for x,y in form.fields.assignedTo.choices %}
            {% if form.assignedTo.value == x %}
            <option value="{{x}}" selected="" >{{y}}</option>
            {% endif %}
            {% endfor %}
            {% else%}
            {% for x,y in form.fields.assignedTo.choices %}
            <option value="{{x}}" {% if form.assignedTo.value == x %}selected="" {% endif %}>{{y}}</option>
            {% endfor %}
            {% endif %}
        </select>
    </div>

 <div class=" col-xs-2">
        <label class="col-sm-3" for="id_assignedOn">AssignedOn:</label>
    </div>
    <div class="col-xs-10" style="margin-bottom:5px">
        <div class="input-group" style="width:350px">
            <input class="form-control date-picker  col-sm-5" value="{% if form.assignedOn.value != None %} {{form.assignedOn.value|date:"o-m-d"}} {% endif %}" name="assignedOn" value="" id="id_assignedOn"
                   data-date-format="yyyy-mm-dd" type="text" >
            <span class="input-group-addon">
		<i class="fa fa-calendar bigger-110"></i>
	</span>
        </div>
    </div>

 <div class=" col-xs-2">
        <label class="col-sm-3" for="id_startedOn">StartedOn:</label>
    </div>
    <div class="col-xs-10" style="margin-bottom:5px">
        <div class="input-group" style="width:350px">
            <input class="form-control date-picker  col-sm-5"  name="startedOn" value="{% if form.startedOn.value != None %} {{form.startedOn.value|date:"o-m-d"}} {% endif %}" id="id_startedOn"
                   data-date-format="yyyy-mm-dd" type="text">
            <span class="input-group-addon">
		<i class="fa fa-calendar bigger-110"></i>
	</span>
        </div>
    </div>

<div class=" col-xs-2">
        <label class="col-sm-3" for="id_finisedOn">FinisedOn:</label>
    </div>
    <div class="col-xs-10" style="margin-bottom:5px">
        <div class="input-group" style="width:350px">
            <input class="form-control date-picker  col-sm-5" name="finisedOn" value="{% if form.finisedOn.value != None %} {{form.finisedOn.value|date:"o-m-d"}} {% endif %}" id="id_finisedOn"
                   data-date-format="yyyy-mm-dd" type="text">
            <span class="input-group-addon">
		<i class="fa fa-calendar bigger-110"></i>
	</span>
        </div>
    </div>

<div class=" col-xs-2">
        <label class="col-sm-3" for="id_estimatedFinishDate">EstimatedFinishDate:</label>
    </div>
    <div class="col-xs-10" style="margin-bottom:5px">
        <div class="input-group" style="width:350px">
            <input class="form-control date-picker  col-sm-5" name="estimatedFinishDate" value="{% if form.estimatedFinishDate.value != None %} {{form.estimatedFinishDate.value|date:"o-m-d"}} {% endif %}" id="id_estimatedFinishDate"
                   data-date-format="yyyy-mm-dd" type="text">
            <span class="input-group-addon">
		<i class="fa fa-calendar bigger-110"></i>
	</span>
        </div>
    </div>


    <div class=" col-xs-2">
        <label class="col-sm-3" for="id_status">Status:</label>
    </div>
    <div class="col-xs-10" style="margin-bottom:5px">
        <select class="form-control" style="width:350px" name="status" required="" id="id_status">
            {% for x,y in form.fields.status.choices %}
            <option value="{{x}}" {% if form.status.value == x %}selected="" {% endif %}>{{y}}</option>
            {% endfor %}
        </select>
    </div>


    <div class=" col-xs-2">
        <label class="col-sm-3" for="id_comment">Comment:</label>
    </div>
    <div class="col-xs-10" style="margin-bottom:5px">
        <div class="input-group" style="width:350px">
            <textarea name="comment" cols="40" rows="10" id="id_comment">{% if form.comment.value != None %} {{form.comment.value}} {% endif %}</textarea>
        </div>
    </div>

    <div class=" col-xs-3">
    </div>
    <input class="btn btn-info ace-icon col-xs-9 " type="submit" value="Add Task" style="font-size: 15px; width:150px"/>

</form>

<!--<form action="" method="post">-->
    <!--{% csrf_token %}-->
    <!--{{form}}-->
        <!--<div class=" col-xs-3">-->
    <!--</div>-->
    <!--<input class="btn btn-info ace-icon col-xs-9 " type="submit" value="Add Task" style="font-size: 15px; width:150px"/>-->

<!--</form>-->
{% endblock %}
































